<html>
	<head></head>
	<body style="color: black;">
    <p>Dear User, <br>
        Hello <strong></strong> - your account is activated.
        <br>
	Isn’t it exciting searching for a new home? Well, reset password is a small part of that fun!  Please click on the link below to change your password to the UrbanCo app: The link is valid for 30 minutes only.
<br><br></p>
<strong><a href="#" style="text-decoration: none !important;">Change Password</a><br><br></strong>'.$forgotPassword.'
<p>Cheers,<br>UrbanCo Tech Team<br></p>
<body>
</html>	